.w-mob-page {
        width: 100%;
}
 .w-mob-container {
         width: 100%;
    }
.core_di-td {
  float: left;
}
/*----------------------------------------*/

/*----------------------------------------*/