/*--==[newcopy ]==--*/
/*-----------------*/
/*--==[store home lauout ]==--*/
.page-container {
width: 100%;
display: table;
height: 100%;
table-layout: fixed;
position: relative;
}

    .cp_shew0{
  
       display: table-cell;
vertical-align: top;
  background-color:#1d8ec0;
width: 160px;
height: 100%;
position: relative;
z-index: 100;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.cp_shew1{
  position: relative;
display: table-cell;
vertical-align: top;

background-color:#F7F8FA;
width: 100%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
  
}
/*-----------------*/



/*--=cp_side-menu=--*/
.cp_side-menu{
    
}

.cp_side-menu>li{
    border: 0px;
position: relative;
display: block;

}
.cp_side-menu>.li>a{
   position: relative;
display: block;
padding: 7px 10px;

padding-left: 10px;
color: #f3fafa;
font-size: 12px;
font-weight: 600;
line-height: 18px;
text-decoration: none;
 text-transform: capitalize;
}
.cp_side-menu>.li:hover,.cp_side-menu>.li:hover>a{
background-color: #18759e;
 color: #fff; 

 
}
.cp_side-menu>.active,.cp_side-menu>.active:hover,.cp_side-menu>.active:hover>a{
background-color: #15688d;
    color: #fff;
 
}
.cp_side-menu>.active>a{
  color: #fff;
 font-size: 14px;


}
.cp_side-menu>.li:hover>.cp_subside-menu{
    display: block;
}

.cp_side-menu>.active>.cp_subside-menu{
    display: block;
}
.cp_subside-menu{
    display: none;
    position: relative;
}
.cp_subside-menu>.li{
    border: 0px;
position: relative;
display: block;
background-color: #499ab2;

}
.cp_subside-menu>.li>a{
   position: relative;
display: block;
padding: 7px 10px;

padding-left: 20px;
color: #cedae4;
font-size: 14px;
font-weight: 400;
line-height: 18px;
text-decoration: none;
 
}
.cp_subside-menu>.li:hover,.cp_subside-menu>.active{
  background-color: #3e8296;
  
}
.cp_subside-menu>.active>a{
  color: #fff;
 font-size: 14px;

}
/*--===--*/
/*--==table==--*/
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
}
.table > thead > tr > th{
    padding: 5px;
  line-height: 1.42857143;
  vertical-align: top;text-align: left;
}
.table > thead > tr > th>span>i{
  visibility: hidden;
}
.table > thead > tr > th:hover>span>i{
  visibility: visible;
}
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 5px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #EBF0F3;
}
.table > thead > tr > th>.checkbox,
.table > tbody > tr > th>.checkbox,
.table > tfoot > tr > th>.checkbox,
.table > thead > tr > td>.checkbox,
.table > tbody > tr > td>.checkbox,
.table > tfoot > tr > td>.checkbox {
 margin: 0px;
}
.col_name{
    width: 40%;
   
}
.table> tbody > tr > td.col_name >.col_link > span a {
 visibility: hidden;
}
.table > tbody > tr > td.col_name:hover >.col_link > span a{
  visibility: visible;
}
.sort{
   text-align: center; 
   cursor: pointer; 
}
.th_ho > thead > tr > th:hover{
  color: #FFFFFF;
  background-color: #59d1a3;

    
}
/*cpanel-input token add category parrent*/

.cp_menu_strip{
      background-color: #FFFFFF;
  color: #222;
  border: 1px solid #D5DBDF;
 padding: 5px;font-size: 13px;
  font-weight: 600;
  cursor: move;

  
}
.cp_menu_strip:hover{
    border: 1px solid #9cafc1;
  
}
.cp_menu_stripclose{
    font-size: 13px !important; 
}
ol.menusortof,ol.menusortof ol {
      margin: 0 0 0 25px;
  padding: 0;
list-style-type: none;
		}
ol.menusortof {
   margin: 0 0 0 0px;
}	
.menusortof li , ol.menusortof > ol li , ol.menusortof > li > ol > li > ol > li{
    margin: 5px 0px;
  
  
}

.placeholder {
			outline: 1px dashed #4183C4;
		}
.wowmodus_error {
			background: #fbe3e4;
			border-color: transparent;
		}
        	li.wow-wowmodus-collapsed.wow-wowmodus-hovering div {
			border-color: #999;
		}
		
		.disclose {
			cursor: pointer;
			width: 20px;
			display: none!important;
		}
		
		.menusortof li.wowmodus_off > ol {
			display: none !important;
		}
		
		.menusortof li.wowmodus_con > div > .disclose {
			display: inline-block !important;
		}
		
		
		.menusortof span.ui-icon {
			display: inline-block;
			margin: 0;
			padding: 0;
		}
		
/*-----------*/
/*--product orifice---*/
 .orifice{
    overflow: hidden;

        }
        .orifice li {
        float: left;
        list-style: none;
        }
       .orifice li span,.orifice li a  {
        	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	font-size: 12px;
	line-height: 30px;
    text-transform: capitalize;
	color: #476f85;
	padding: 0 10px 0 15px;
	background-color: #DEE9ED;
	
	position: relative;
}
 
         .orifice li span.active, .orifice li a.active{
	background-color:#8BC8DA;color: #fff;font-weight: 600;
}
         .orifice li span.active:after, .orifice li a.active:after{
	background-color: #8BC8DA;
}
  .orifice li span:after,.orifice li a:after {
	content: '';
	position: absolute;
	top: 0; 
	right: -12px; 
	width: 30px; 
	height: 30px;
transform: scale(0.607) rotate(45deg);
	z-index: 1;
	background-color: #DEE9ED;
	box-shadow: 
		2px -2px 0 2px rgba(0, 0, 0, 0.4), 
		2px -2px 0 2px rgba(255, 255, 255, 0.1);
	
	border-radius: 0 5px 0 50px;
}
        .orifice li:last-child span:after, .orifice li:last-child a:after  {
	content: none;
}
        .orifice li span:before,.orifice li a:before {
	content: none;
}



/**/
/*--== add  product listing==--*/
.key_feature-list{
   
}
.key_feature-list>li{
     list-style-type: disc;

    width: 80%;
    margin-left: 1%;  margin-bottom: 5px;
}
.key_feature-list > li> .form-mold {
    display: inline-block;
}

/*-----*/

/*--==[Specifications]==--*/
.spfc .h {
    background-color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    color: #006281;
    border-bottom: 1px solid #DADADA;
}
.spfc .rl .form-mold {
  border: none;resize: none;
}
.spfc .rl  {
  border-bottom: 1px dashed #c9c9c9;
}
.spfc .rl1{
  border-left: 1px dashed #c9c9c9;
}
.spfc .rl0 p,.spfc .rl1 p{
padding: 5px 8px;
font-size: 13px;
font-family: arial, tahoma, verdana, sans-serif;
}
/*-----------------*/
/*--==[location list ]==--*/
.lo_l .li + .li {
  margin-top: -1px;
}
/*-----------------*/
/*--==[Breadcrumb ]==--*/
.bcrum >.li,.bcrum >li {
font-size: 13px;
font-weight: 600;
}
.bcrum >.li,.bcrum >li {
    margin-right: 5px;
}
.bcrum >.li i,.bcrum >li i{
    margin-right: 5px;
}
/*-----------------*/

/*--==[category_listing ]==--*/
.cl_m-l .cl_m-l {
  padding-left: 5px;
}
.cl_m-l >.li a{
text-decoration: none;
  padding: 3px 0px;
  display: block;
}
.cl_m-l >.li a.active{
color: #59d1a3;
font-weight: 600;
}
.cl_f-l .checkbox {
margin: 1px 0px ;
}
.cl_f-l .checkbox  span {
margin: 0px 3px ;
}
.cl_f-l .badge  {
  float: right;
  padding: 0px 2px;
  font-size: 11px;
  
  background-color: #fff;
  color: #5E83AA;
  margin-top: 2px;
    margin-right: 5px;
}
.cl_sort,.cl_tagsort {
margin: 2px 0px;

}
.cl_sort  .li+.li,.cl_tagsort .li+.li{
    margin-left: 5px;
}
.cl_sort  .li{
   padding: 3px 5px;
}
.cl_sort  a{
 color: #999;text-transform: uppercase;
}
.cl_sort  a.active{
    font-weight: 600;
 color: #49a783;
 border-bottom: 2px solid #49a783;
}

.cl_tagsort .sclose {
    color: #466078;
    margin-left: 3px;
    position: relative;
    top: 2px;
}
.cl_tagsort .label  {

color: #466078;
font-weight: 600;
margin: 0px;
}
.loading_open {
opacity: 1;
}
.loading_con {
    display: none;
    top: 30px;
}
.open > .loading_con {
display: block;
}
.open > .loading_open {
opacity: .2;
}
/*-----------------*/

/*--==[image pre view box]==--*/
.im-pb {
min-height: 200px;
}
.im-pb > .li:first-child,.im-pb > .li:first-child img {
  width: 200px;
  height: 200px;
}
.im-pb > .li{
      margin: 5px 5px 0px 5px;
        width: 100px;
  height: 98px;cursor: move;
} 
.im-pb > .li img{
   width: 100px;
  height: 98px;
  background-color: #fff;
  border: 1px solid #ddd;
border-radius: 2px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.upload_btn {
    width: 100%;
  height: 30px;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px dashed #d4d4d4;
  background-color: #f7f7f7;
  color: #999;
  clear: both;
}
.upload_btn input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  border: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  font-size: 10000px;
  cursor: pointer;
}
.im-slider {
  min-height: 225px;
}
.im-slider > .li:first-child,.im-slider > .li:first-child img {
  width: 400px;
  height: 225px;
}
/*-----------------*/
/*--==[category _listing 4_in_1 ]==--*/
.cl {
 
}
.clgrid .c0 {
 max-width: 200px;
  
}
.clgrid  .c0 img{
    max-width: 190px;
    max-height: 200px;
}
.cl2_in_1 .c0 {
   width: 300px;
   height: 350px;
}
.cl2_in_1 .c0 img{
    max-width: 300px;
    max-height: 350px;
}

.cl1_in_1 {

}
.cl1_in_1 .c0 {
   width: 300px;
   height:300px;
}
.cl1_in_1 .c0 img{
    max-width: 300px;
    max-height: 300px;
}

/*-----------------*/
/*--==[mmenu]==--*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
#mmenu,
#mmenu ul,
#mmenu ul li,
#mmenu ul li a,
#mmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#mmenu:after,
#mmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#mmenu #menu-button {
  display: none;
}
#mmenu {
  width: auto;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  background: #ffffff;
}
#menu-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  background: #009ae1;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#mmenu > ul > li {
  float: left;
}
#mmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#mmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#mmenu.align-center ul ul {
  text-align: left;
}
#mmenu.align-right > ul > li {
  float: right;
}
#mmenu.align-right ul ul {
  text-align: right;
}
#mmenu > ul > li > a {
 padding: 16px 16px;
  font-size: 12px;
  text-decoration: none;
  text-transform: capitalize;
  color: #000000;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#mmenu > ul > li:hover > a,
#mmenu > ul > li.active > a {
  color: #009ae1;
}
#mmenu > ul > li.has-sub > a {
  padding-right: 25px;
}
#mmenu > ul > li.has-sub > a::after {
  position: absolute;
  top: 21px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#mmenu > ul > li.has-sub:hover > a::after {
  border-color: #009ae1;
}
#mmenu ul ul {
  position: absolute;
  left: -9999px;
}
#mmenu li:hover > ul {
  left: auto;
}
#mmenu.align-right li:hover > ul {
  right: 0;
}
#mmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#mmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#mmenu ul ul li {
  height: 0;
  -webkit-transition: height .2s ease;
  -moz-transition: height .2s ease;
  -ms-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease;
}
#mmenu ul li:hover > ul > li {
  height: 32px;
}
#mmenu ul ul li a {
 padding: 16px 16px;
  width: 160px;
  font-size: 12px;
  background: #333333;
  text-decoration: none;
  color: #dddddd;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#mmenu ul ul li:hover > a,
#mmenu ul ul li a:hover {
  color: #ffffff;
}
#mmenu ul ul li.has-sub > a::after {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  content: "";
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#mmenu.align-right ul ul li.has-sub > a::after {
  right: auto;
  left: 10px;
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
#mmenu ul ul li.has-sub:hover > a::after {
  border-color: #ffffff;
}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #mmenu {
    width: 100%;
  }
  #mmenu ul {
    width: 100%;
    display: none;
  }
  #mmenu.align-center > ul,
  #mmenu.align-right ul ul {
    text-align: left;
  }
  #mmenu ul li,
  #mmenu ul ul li,
  #mmenu ul li:hover > ul > li {
    width: 100%;
    height: auto;
    border-top: 1px solid rgba(120, 120, 120, 0.15);
  }
  #mmenu ul li a,
  #mmenu ul ul li a {
    width: 100%;
  }
  #mmenu > ul > li,
  #mmenu.align-center > ul > li,
  #mmenu.align-right > ul > li {
    float: none;
    display: block;
  }
  #mmenu ul ul li a {
    padding: 16px 16px;
    text-transform: capitalize;
    font-size: 12px;
    color: #000000;
    background: none;
  }
  #mmenu ul ul li:hover > a,
  #mmenu ul ul li a:hover {
    color: #000000;
  }
 #mmenu ul  ul li a {
    padding-left: 30px;
  }
  #mmenu ul ul ul li a {
    padding-left: 40px;
  }
  #mmenu ul ul,
  #mmenu ul ul ul {
    position: relative;
    left: 0;
    right: auto;
    width: 100%;
    margin: 0;
  }
  #mmenu > ul > li.has-sub > a::after,
  #mmenu ul ul li.has-sub > a::after {
    display: none;
  }
  #menu-line {
    display: none;
  }
  #mmenu #menu-button {
    display: block;
   padding: 10px 16px;
    color: #000000;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
  }
  #mmenu #menu-button::after {
      content: '';
    position: absolute;
    top: 9px;
    right: 20px;
    display: block;
    width: 15px;
    height: 2px;
    background: #000000;
  }
  #mmenu #menu-button::before {
        content: '';
    position: absolute;
    top: 13px;
    right: 20px;
    display: block;
    width: 15px;
    height: 6px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
  }
  #mmenu .submenu-button {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.15);
    height: 45px;
    width: 45px;
    cursor: pointer;
  }
  #mmenu .submenu-button::after {
   content: '';
    position: absolute;
    left: 20px;
    top: 15px;
    display: block;
    width: 1px;
    height: 20px;
    background: #000000;
    z-index: 99;
  }
  #mmenu .submenu-button::before {
    content: '';
    position: absolute;
    left: 11px;
    top: 24px;
    display: block;
    width: 20px;
    height: 1px;
    background: #000000;
    z-index: 99;
  }
  #mmenu .submenu-button.submenu-opened:after {
    display: none;
  }
}

/*-----------------*/